
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<div style="display: flex; justify-content: center; margin-bottom: 20px">
    <img src="~/Areas/Admin/UploadFile/images/tich3.jpg" width="50" height="50" />
</div>
<div style="display: flex; justify-content: center; margin-bottom:20px">
    <h2 style="color: #e497a4 ">Thanh Toán Thành Công</h2>
</div>
<pre  style="display: flex; justify-content: center;">
Chúng tôi xin cảm ơn bạn đã lựa chọn mua hàng tại trang web của chúng tôi. Đây là một bước quan trọng và rất đáng quý đối với chúng tôi.
Chúng tôi hy vọng rằng sản phẩm bạn đã chọn sẽ đáp ứng được nhu cầu và mong đợi của bạn.
Chúng tôi sẽ tiếp tục nỗ lực và cải tiến dịch vụ để mang đến cho bạn những trải nghiệm mua sắm tốt nhất.

Nếu bạn có bất kỳ câu hỏi hoặc yêu cầu hỗ trợ nào, xin vui lòng liên hệ với chúng tôi. Chúng tôi luôn sẵn sàng hỗ trợ bạn.
Một lần nữa, chúng tôi chân thành cảm ơn bạn đã mua hàng và hy vọng được phục vụ bạn trong những lần mua hàng tiếp theo.

                                                                                                                       Trân trọng,
                                                                                                               Đội ngũ hỗ trợ khách hàng.
</pre>

    <p><a href="@Url.Action("Index","Home")" style="margin-left: 150px; color: #e497a4">TIẾP TỤC MUA SẮM</a></p>
